{% extends 'NicoBScrumBundle::layout.html.twig' %}


{% block content %}
<div class="row-fluid">
    <div class="span4">
        <div class="panel_header">STATS</div>
    </div>
    <div class="span4">
        
        <div class="panel">
        <div class="panel_header">Current backlog : {{ backlog.name }}</div>
        <div class="panel_list">
        

          
            {% for story in backlog.stories %}

                    {% include 'NicoBScrumBundle:Dashboard:story.html.twig' %}
                
            {% endfor %}

        </div>
        </div>
    </div>
    <div class="span4">
        <div class="panel">
        <div class="panel_header">SandBox</div>
        <div class="panel_list">

        {% for story in project.sandbox.stories %}
            {% include 'NicoBScrumBundle:Dashboard:story.html.twig' %}
        {% endfor %}
            
        </div>
        </div>


    </div>
</div>
{% endblock %}