{% extends 'NicoBScrumBundle::layout.html.twig' %}


{% block content %}
<div class="row-fluid">
    <div class="span4">
        STATS
    </div>
    <div class="span4">



        <h3>Backlog</h3>

        {% for backlog in project.backlogs %}


        <h4>{{ backlog.name }}</h4>
        {% for story in backlog.stories %}

        <div>
            {% include 'NicoBScrumBundle:Dashboard:blocs:story.html.twig' %}
        </div>
        {% endfor %}

        {% endfor %}
    </div>
    <div class="span4">
        <h3>SandBox</h3>

        {% for story in project.sandbox.stories %}

        <div>{% include 'NicoBScrumBundle:Dashboard:story.html.twig' %}</div>


        {% endfor %}




    </div>
</div>
{% endblock %}