<div class="story ">
    <a class="floatL" href="{{ path('story_show',{'id':story.id }) }}">{{ story.name }}</a>
    <div class="floatR" >
    {{ story.priority.name }}/{{ story.difficulty.name }}

    </div>
    <div class="clear"></div>

</div>