.story,.backlog{
    padding:5px;
    border-bottom: #CCC 1px solid;
}

.panel_header {
    background: #333;
    color:#FFF;
    font-weight: 700;
    border-top-right-radius:5px;
    border-top-left-radius:5px;
    padding: 3px 8px;
}
.panel_list {
    border-left: #CCC 1px solid;
    border-right: #CCC 1px solid;

}

.panel {

}

.bgStatus1 {
    background-color: #F3F3D1;
}
.bgStatus2 {
    background-color: #F3F3D1;
}
.bgStatus3 {
    background-color: #F3F3D1;
}
.bgStatus5 {
    background-color: #DAEBCF;
}
.bgStatus6 {
    background-color: #dd514c;
}
.bgStatus6 {
    background-color: #E4EFF7;
}